<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>

  <div>
  <form class="form-inline md-form mr-auto mb-4">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" name="searchText" required (input)="search()" (keydown.space)="$event.preventDefault();">
  </form>
  <label *ngIf="foundUsers"><b>Found: </b></label>
  <ul *ngFor="let user of foundUsers">
    <li>{{user.userFirstName}} {{user.userLastName}} <button (click)="deleteUser(user.userId)" class="btn btn-danger">Delete</button>
      <button (click)="userDetails(user.userId)" class="btn btn-info" style="margin-left: 10px">Details</button>
      <button (click)="updateUser(user.userId)" class="btn btn-info" style="margin-left: 10px">Update</button>
    </li>
  </ul>
  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Cars</th>
          <th>Fares</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{user.userFirstName}}</td>
          <td>{{user.userLastName}}</td>
          <td>{{user.userEmail}}</td>
          <td><div *ngIf="user.userRole">{{user.userRole.name}}</div></td>
          <td>
              <li *ngFor="let car of user.userCars">
                  <span class="badge">{{car.id}}</span> {{car.name}}  {{car.type}}  {{car.colour}}  {{car.registrationNumber}}
              </li>
            </td>
            <td>
              <li *ngFor="let fare of user.userFares">
                  <span class="badge">{{fare.id}}</span> {{fare.uuid}}  {{fare.status}}
              </li>
            </td>
          <td><button (click)="deleteUser(user.userId)" class="btn btn-danger">Delete</button>
              <button (click)="userDetails(user.userId)" class="btn btn-info" style="margin-left: 10px">Details</button>
              <button (click)="updateUser(user.userId)" class="btn btn-info" style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
